<h2>List of all board game</h2>

<ul>
  {{#each model as |game|}}
    <li>
      {{game.title}}, id {{game.id}}, {{#link-to "boardgame.edit" game.id}} Edit {{/link-to}}, <button onclick={{action 'destroyBoardGame' game}}> Destroy</button>
    </li>
  {{/each}}
</ul>

<div>
  {{input value=newBoardGame placeholder="board game name"}}
  <button onclick={{action 'createBoardGame'}}>Create</button>
</div>


<br><br>
{{outlet}}
